<!--[if lt IE 9]> 
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<html lang="en">
  <head>
    <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <!-- <link href="{{ STATIC_URL }}cssw/normalize.css" rel="stylesheet">
     <link href="{{ STATIC_URL }}cssw/foundation.css" rel="stylesheet"> -->
     <script src="{{ STATIC_URL }}jsw/jquery.js"></script>
     <script src="{{ STATIC_URL }}jsw/modernizr.js"></script>
     
       
       
</head>
<body style=" height:100%; margin:5%;overflow: auto;">

                
<!-- {% for obj in newsDictList %}
    				<div> Small Image :<img src="{{obj.smallImage}}"/></div><br/>
    				<p> Title : {{obj.title}} </p><br/>
    				{% autoescape off %}<p>Summary : {{obj.summary}} </p>{% endautoescape %}<br/>
    				<div> Large Image : <img src="{{obj.largeImage}}"/><br/></div><br/> 
    				{% autoescape off %}<p> Article: {{obj.newsArticle}} </p>{% endautoescape %}<br/>
    				<a href="{{obj.link}}">Read More </a><br/>
    				<p>Published on: {{obj.published}} </p>
    				<p>-------------------------------- </p>
    				<br/>
    				<br/>
    		    {% endfor %} -->  
     
     
    <!-- For loadNewsForHomeScreen --> 
     
     {% for obj in newsDictList.items %}
     <H1>{{obj.0}} News</H1>
     
     {% for key,value in obj.1.0.items %}
      
     <H2>{{key}}</H2>
     {% for rec in value %}
     IMAGE: <img src="{{rec.Thumbnail}}"/></br></br>
     TITLE: {{rec.Title}}</br></br>
     SUMMARY:{{rec.Summary}}</br></br>
     LINK: <a href="{{rec.URL}}">{{rec.URL}}</a></br></br>
     SOURCE: {{rec.Source}}</br></br>
     PUBLISHED ON: {{rec.Published_Date}}</br></br>
     Cluster Id: {{rec.Cluster_Id}}</br>
     <p>-------------------------</p>
     
     {% endfor %}
         {% endfor %}
     {% endfor %}
     
     


</body>
</html>

